body {
  background-color: #00c965;
}

form {
  background-color: white;
  padding: 20px 30px;
}

label {
  display: block;
  margin-top: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: green;
  width: 100%;
  border: none;
  margin-top: 10px;
  border-radius: 3px;
}
